name: Auto Grading Struktur Data
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ develop ]

jobs:
  grading:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - run: |
        pip install pytest

    - name: Run Grader
      run: |
        python grading/grader.py
